<div class="container-fluid">
<div class="row min-vh-100"> 
    <div id="main-container">
    
    <div  class="col-sm-12 offset-md-4 col-md-4 offset-md-4 offset-lg-4 col-lg-4 offset-lg-4 mt-4"> 
        <h1 class="caja">Educación</h1>
    </div>  
       <!--boton de agregado-->
<button type = "button" class = "btn botonColor border mt-4" *ngIf ="isLoginIn()" (click) ="onOpenModal('add')">
    <a class="nav-link">
        <i class="bi bi-plus-circle"></i>
    </a> 
    </button>

<div *ngFor ="let edu of educaciones" class="mt-4">

   <!--boton pencil de edición-->
    <a 
    *ngIf ="isLoginIn()"
    (click) = "onOpenModal('edit',edu)"
    class="btn botonColor border tooltips me-1"
    data-placement="top"
    data-toggle="tooltip"
    data-original-title="Edit"
    >
    <i class="fa-solid fa-pencil"></i>
</a>
<!--boton x de borrado-->
<a 
*ngIf ="isLoginIn()"
(click) = "onOpenModal('delete',edu)"
class="btn btn-secondary border tooltips"
data-placement="top"
data-toggle="tooltip"
data-original-title="Delete"
>
<i class="bi bi-trash"></i>
</a>

<div class="caja row mt-1 mx-auto mb-5 nombreAp">
    <div class="offset-lg-1 col-lg-2 col-sm-12 mt-5">
<h3>{{edu.titulo_Ed}}</h3>
</div>


<div class="offset-lg-1 col-lg-4 col-sm-12 mt-3 mt-lg-5">
    <p >{{edu.descripcion_Ed}}</p>
    
</div>

<div class="offset-lg-1 col-lg-2 col-sm-12 mt-2">
       <a [href] ="edu.img_Ed" target="_blank"> 
        <img src="{{edu.img_Ed}}" alt="" width="200px" height="150px"
         class="img-fluid img-thumbnail mx-auto"> 
       </a>
         <p class="mt-1">{{edu.fechain_Ed+"/"+edu.fechaout_Ed}}</p>
</div>

</div>
</div>
</div> 

<!--Modal de agregado-->

<div class="modal fade" 
id="addEducacionModal"
 tabindex ="-1" 
 role="dialog" 
 aria-labelledby="addEducacionModalLabel" 
 aria-hidden="true"
>

    <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="addEducacionModalLabel">Añadir educacion</h5>
    <button
    type ="button"
    class ="close"
    data-dismiss ="modal"
    aria-label ="close"
    >
    <span aria-hidden="true">&times;</span>
    </button>
    </div>

<div class="modal-body">
<form #addForm = "ngForm" (ngSubmit) ="onAddEducacion (addForm)">                      
    <div class="form-group">
     <label for="titulo_Ed">Titulo</label>
     <input 
            type="text"   
            ngModel 
            MaxLength="55"
            name="titulo_Ed"
            class ="form-control"
            id="titulo_Ed"
            placeholder="Titulo"
            required  
        /> 
    </div>
 
    <div class="form-group">
        <label for="descripcion_Ed">Descripción educación</label>
        <textarea type="text" 
               ngModel
               MaxLength="255"
               name="descripcion_Ed"
               class="form-control"
               id="descripcion_Ed"
               placeholder="Descripción"
               required   
           > </textarea>
       </div>

    <div class="form-group">
        <label for="img_Ed">Imagen Url</label>
        <input type="text" 
               ngModel
               Maxlength="255"
               name="img_Ed"
               class="form-control"
               id="img_Ed"
               placeholder="Inserte url de la imagen"
               required  
           > 
       </div>


    <div class="form-group">
        <label for="fechain_Ed">Fecha inicio</label>
        <input 
        type="text" 
               ngModel
               MaxLength="4"
               name="fechain_Ed"
               class="form-control"
               id="fechain_Ed"
               placeholder="Fecha inicio (Ej:2010)"
               required  
           /> 
       </div>

       <div class="form-group">
        <label for="fechaout_Ed">Fecha Finalizado</label>
        <input 
        type="text" 
               ngModel
               MaxLength="4"
               name="fechaout_Ed"
               class="form-control"
               id="fechaout_Ed"
               placeholder="Fecha finalizado (Ej:2010)"
               required  
           /> 
       </div>


    <div class="modal-footer">
       <button
       type="button"
       id="add-Educacion-form"
       class="btn btn-secondary"
       data-dismiss="modal"
       >
       Cerrar
       </button>
       

       <button
       
       [disabled] ="addForm.invalid"
       type="submit"
       class="btn btn-success botonColor"
       >
       Añadir cambios
       
       </button>
       </div>

</form>
    </div>
    </div>
    </div>
    </div>       
    
<!------------------------------------------------------------------------------------->    


<!--Modal de edicion-->

<div class="modal fade" 
id="editEducacionModal"
 tabindex= "-1" 
 role="dialog" 
 aria-labelledby="EducacionEditModalLabel" 
 aria-hidden="true"
 
>

    <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="updateEducacionModalLabel">
    Editar educacion {{editarEducacion?.titulo_Ed}}    
    </h5> 
    <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    >
    <span aria-hidden="true">&times;</span>
    </button>
    </div>


<div class="modal-body">
<form #editForm= "ngForm">                      
    <div class="form-group">
     <label for="name">Titulo</label>
     <input type="text" 
            ngModel = "{{editarEducacion?.titulo_Ed}}" 
            MaxLength="55"                                                                      
            name="titulo_Ed"
            class="form-control"
            id="titulo_Ed"
            aria-describedby="email help"
            placeholder="Titulo"
             
        > 
    </div>
    <input type="hidden"
    ngModel = "{{editarEducacion?.id_Ed}}"
     name="id_Ed"
     class="form-control"
     id="id_Ed"
     placeholder=""
    >

    <div class="form-group">
        <label for="descripcion_Ed">Descripción</label>
        <textarea type="text" 
               ngModel= "{{editarEducacion?.descripcion_Ed}}"
               MaxLength="255"
             
               name="descripcion_Ed"
               class="form-control"
               id="descripcion_Ed"
               placeholder="Descripción"
           > </textarea>
       </div>

    <div class="form-group">
        <label for="img_Ed">Imagen Url</label>
        <input type="text" 
               ngModel = "{{editarEducacion?.img_Ed}}"
               MaxLength="255"
               name="img_Ed"
               class="form-control"
               id="img_Ed"
               placeholder="Inserta url de la imagen"
           > 
       </div>


    <div class="form-group" >
        <label for="fechain_Ed">Fecha inicio</label>
        <input type="text" 
               
               MaxLength="4"
               
               ngModel= "{{editarEducacion?.fechain_Ed}}"
               name="fechain_Ed"
               class="form-control"
               id="fechain_Ed" 
               placeholder="Fecha inicio (Ej:2010)"   
           > 
       </div>

       <div class="form-group" >
        <label for="fechaout_Ed">Fecha finalizado</label>
        <input type="text" 
               
               MaxLength="4"
               
               ngModel= "{{editarEducacion?.fechaout_Ed}}"
               name="fechaout_Ed"
               class="form-control"
               id="fechaout_Ed" 
               placeholder="Fecha finalizado (Ej:2010)"   
           > 
       </div>

    <div class="modal-footer">
       <button
       type="button"
       id=""
       data-dismiss="modal"
       class="btn btn-secondary"
       >

       Cerrar
       </button>
       

       <button
       (click) ="onUpdateEducacion(editForm.value)"
       data-dismiss="modal"
       class="btn btn-success botonColor"
       >

       Guardar cambios
       </button>
       </div>
</form>

    </div>
    </div>
    </div>
    </div>       


<!------------------------------------------------------------------------------------------>

<!--Modal de borrado-->


<div 
data-bs-toggle="modal" data-bs-target="#deleteModalLabel"
class="modal fade" 
id="deleteEducacionModal"
 tabindex= "-1" 
 role="dialog" 
 aria-labelledby="deleteModalLabel" 
 aria-hidden="true"
>

    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="deleteModelLabel"> Borrar educacion </h5> 
    <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    >
    <span aria-hidden="true">&times;</span>
    </button>
    </div>


<div class="modal-body">
<p  class="pPie">
Seguro que desea eliminar? 
{{borrarEducacion?.titulo_Ed}}?
</p>

    <div class="modal-footer text-bg-light">
       <button
       type="button"
       class="btn btn-secondary"
       data-dismiss="modal"
       >

       No
       </button>
       

       <button
       (click)= "onDeleteEducacion(borrarEducacion!.id_Ed)"
       class="btn btn-danger"
       data-dismiss="modal"
       >

       si
       </button>
      
    </div>
    </div>
    </div>
    </div>
    </div>       

    <!----------------------------------------------------------------------------------->

    <!--spinner interceptor-->

    <div *ngIf= "loaderService.isLoading | async" class="uploader-status">
        <mat-spinner style="margin:0 auto;" 
        mode="indeterminate"></mat-spinner>
      
      

    <div *ngIf ="!isLoading && educaciones?.length === 0" class="col-sm-12 col-md-12 offset-lg-5 col-lg-2 offset-lg-5">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">No se encuentra educaciones🤔</h4>
        <p>Educaciones no encontradas</p>
    </div>

    </div>
  
</div>

</div>

<!--<button type="button" (click)="goBack()">Volver</button>-->
    


