 
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid"> 
      <a class="navbar-brand text-white-50 w-40 h-40" routerLink="/portfolio">
        <i class="bi bi-terminal-fill"></i>
        Argentina programa
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
            <li class="nav-item">
            <a class="nav-link" routerLink ="/AcercaDe">Acerca de
              <i class="bi bi-file-person"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Educacion">Educacion
              <i class="bi bi-mortarboard"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Experiencia">Experiencia
              <i class="bi bi-hammer"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Skills">Skills
              <i class="bi bi-wrench"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Proyectos">Proyectos
              <i class="bi bi-bar-chart-line"></i>
            </a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-light border-0" type="button" (click) ="DoYouClose()">
            <i class="bi bi-power"></i>
            </button>  
        </form>
      </div>
    </div>
    
  </nav>

