<div class="row">

<h1>Experiencia laboral</h1>




<div class="col-lg-12">

    <ul>
<li>
    <h1>Trabajo 1</h1>  
     <h3>Años</h3>
    
</li>

   

<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio adipisci aperiam,
     labore commodi beatae ducimus voluptatum! Voluptatum alias nulla harum repellat porro
      expedita inventore corporis ipsam nobis, reprehenderit recusandae sint.
    Aut aperiam accusamus facere impedit dignissimos dolores placeat nisi sapiente earum,
     necessitatibus officia fuga consectetur. Nihil, error assumenda. Sint repellendus
     voluptate sit illum molestiae minima, quam ab sunt fugit quas?
</p>



</ul>
</div>

</div>