<div class="img-fluid">
<div class="row">
    <h1>Hard & soft skills</h1>
    <div class=" text-center col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="70"
    [imageSrc]="'../assets/iconhtml-5.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [title]="'HTML'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="70"
    [imageSrc]="'../assets/css3.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [title]="'HTML'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="70"
    [imageSrc]="'../assets/angular.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [title]="'HTML'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="70"
    [imageSrc]="'../assets/iconsbootstrap.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [title]="'HTML'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="70"
    [imageSrc]="'../assets/java.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [title]="'HTML'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="70"
    [imageSrc]="'../assets/javascript.png'"
    [showImage]="true"
    [imageHeight]="70"
    [imageWidth]="70"
    [showUnits]="false"
    [title]="'HTML'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>
</div>
</div>
