.row {
padding-right: 0px;
margin-right: 0px;

}

div {

    background-color:coral;
   
    text-align: center;
}


h1{

    color: #fff;
}

@media (max-width: 766px) {
    div{
        flex-direction: column;
        align-items: center;
    }

}