<div class="row">
<h1>Proyectos realizados</h1>

<div class="container">

    <div class="col-sm-12 col-md-8 col-lg-8">
    
    <h2>Task-List</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus qui non harum laboriosam ad? 
        Veritatis, ipsa veniam doloribus non delectus reprehenderit mollitia nulla 
        quam in, beatae facere fugit nostrum minus.
    </p>
</div>


<div class="col-sm-12 col-md-4 col-lg-4 ">
<img src="../../../assets/task-list.png" class="img-fluid img-proyecto">

</div>


</div>


</div>
