
<div class="container-fluid">
<div class="row min-vh-100">
   
<div id="main-container">
    <div class="col-sm-12 offset-md-4 col-md-4 offset-md-4 offset-lg-4 col-lg-4 offset-lg-4 mt-4">
    <h1 class="caja">Skills</h1>
</div>
        <!--boton de agregado-->
<button type = "button" class = "btn botonColor border mb-3" *ngIf ="isLoginIn()" (click) ="onOpenModal('add')">
    <a class="nav-link">
        <i class="bi bi-plus-circle"></i>
    </a> 
    </button>

<div class="py-1" *ngFor ="let skill of skills">
    
   <!--boton pencil de edición-->
    <a 
    *ngIf ="isLoginIn()"
    (click) = "onOpenModal('edit',skill)"
    class="btn botonColor border tooltips me-1 mb-1"
    data-placement="top"
    data-toggle="tooltip"
    data-original-title="Edit"
    >
    <i class="fa-solid fa-pencil"></i>
</a>
<!--boton x de borrado-->
<a 
*ngIf ="isLoginIn()"
(click) = "onOpenModal('delete',skill)"
class="btn btn-secondary border tooltips mb-1"
data-placement="top"
data-toggle="tooltip"
data-original-title="Delete"
>
<i class="bi bi-trash"></i>
</a>

    
<div class="caja row ms-2 bg-dark mb-5">
   <div class="col-lg-3 col-sm-12 mt-5">
    <h3>{{skill.titulo_Skills}} </h3>
</div>

    <div class="col-lg-3 col-sm-12 mt-5 nombreAp">
        <h5>{{skill.nombre_Skills}}</h5>  
    </div>
      
        <div class="col-lg-2 offset-lg-1 col-sm-12 img-thumbnail bg-light mt-2 mb-2">
       <a [href] ="skill.img_Skills" target="_blank"> <img src="{{skill.img_Skills}}" alt="" width="75px" height="75px" class="img-fluid mt-2"></a>
    </div>
       
        <div class="col-lg-3 col-sm-12 py-5">
        <div class="progress bg-primary">
            <div class="progress-bar bg-info nombreAp" [style.width.%] ="skill.porcentaje_Skills" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                {{skill.porcentaje_Skills+"%"}}
            </div>
        </div>
    </div>
</div>

</div>

</div>


<!--Modal de agregado-->

<div class="modal fade" 
id="addSkillsModal"
 tabindex ="-1" 
 role="dialog" 
 aria-labelledby="addSkillsModalLabel" 
 aria-hidden="true"
>

    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="addSkillsModalLabel">Añadir Skills</h5>
    <button
    type ="button"
    class ="close"
    data-dismiss ="modal"
    aria-label ="close"
    >
    <span aria-hidden="true">&times;</span>
    </button>
    </div>

<div class="modal-body">
<form #addForm = "ngForm" (ngSubmit) ="onAddSkills (addForm)">                      
    <div class="form-group">
     <label for="titulo_Skills">Titulo-nivel</label>
     <textarea type="text"   
            ngModel
            MaxLength="55"
            name="titulo_Skills"
            class ="form-control"
            id="titulo_Skills"
            placeholder="Titulo-nivel (Ej:Hard skill; Soft skill; Frontend; Backend; Avanzado;intermedio)"
            required  
        > </textarea>
    </div>

    <div class="form-group">
        <label for="nombre_Skills">Nombre skill</label>
        <input type="text" 
               ngModel
               MaxLength="55"
               name="nombre_Skills"
               class="form-control"
               id="nombre_Skills"
               placeholder="(Ej: JavaScript)"
               required  
           > 
       </div>

    <div class="form-group">
        <label for="img_Skills">Imagen url</label>
        <input type="text" 
               ngModel
               MaxLength="255"
               name="img_Skills"
               class="form-control"
               id="img_Skills"
               placeholder="Inserte url de la imagen"
               required  
           > 
       </div>

    <div class="form-group">
        <label for="porcentaje_Skills">Nivel - Porcentaje</label>
        <input 
        type="text" 
               ngModel
               MaxLength="3"
               name="porcentaje_Skills"
               class="form-control"
               id="porcentaje_Skills"
               placeholder="Nivel - Porcentaje (Ej:50)"
               required  
           /> 
       </div>



    <div class="modal-footer">
       <button
       type="button"
       id="add-Skills-form"
       class="btn btn-secondary"
       data-dismiss="modal"
       >
       Cerrar
       </button>

       <button
       
       [disabled] ="addForm.invalid"
       type="submit"
       class="btn btn-success botonColor"
       >
       Añadir cambios
       
       </button>
       </div>

</form>
    </div>
    </div>
    </div>
    </div>       
    
<!------------------------------------------------------------------------------------->    

<!--Modal de edicion-->

<div class="modal fade" 
id="editSkillsModal"
 tabindex= "-1" 
 role="dialog" 
 aria-labelledby="SkillsEditModalLabel" 
 aria-hidden="true"
>

    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="updateSkillsModalLabel">
    Editar Skills {{editarSkills?.titulo_Skills}}    
    </h5> 
    <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    >
    <span aria-hidden="true">&times;</span>
    </button>
    </div>

<div class="modal-body">
<form #editForm= "ngForm">                      
    <div class="form-group">
     <label for="name">Titulo-nivel</label>
     <textarea type="text" 
            ngModel = "{{editarSkills?.titulo_Skills}}"  
            MaxLength="55"                                                                     
            name="titulo_Skills"
            class="form-control"
            id="titulo_Skills"
            aria-describedby="email help"
            placeholder="Titulo-nivel (Ej:Hard skill; Soft skill; Frontend; Backend; Avanzado;intermedio)"
             
        > </textarea>
    </div>
    <input type="hidden"
    ngModel = "{{editarSkills?.id_Skills}}"
     name="id_Skills"
     class="form-control"
     id="id_Skills"
     placeholder=""
    >

    <div class="form-group">
        <label for="nombre_Skills">Nombre skill</label>
        <input type="text" 
               ngModel= "{{editarSkills?.nombre_Skills}}"
               MaxLength="55"
               name="nombre_Skills"
               class="form-control"
               id="nombre_Skills"
               placeholder="(Ej: JavaScript)"
           > 
       </div>

    <div class="form-group">
        <label for="img_Skills">Imagen url</label>
        <input type="text" 
               ngModel = "{{editarSkills?.img_Skills}}"
               MaxLength="255"
               name="img_Skills"
               class="form-control"
               id="img_Skills"
               placeholder="Inserta url de la imagen"
           > 
       </div>

    <div class="form-group">
        <label for="porcentaje_Skills">Nivel - Porcentaje</label>
        <input type="text" 
               ngModel= "{{editarSkills?.porcentaje_Skills}}"
               MaxLength ="3"
               name="porcentaje_Skills"
               class="form-control"
               id="porcentaje_Skills" 
               placeholder="Nivel - Porcentaje (Ej:50)"   
           > 
       </div>


    <div class="modal-footer">
       <button
       type="button"
       id=""
       data-dismiss="modal"
       class="btn btn-secondary"
       >

       Cerrar
       </button>

       <button
       (click) ="onUpdateSkills(editForm.value)"
       data-dismiss="modal"
       class="btn btn-success botonColor"
       >

       Guardar cambios
       </button>
       </div>
</form>

    </div>
    </div>
    </div>
    </div>       

<!------------------------------------------------------------------------------------------>

<!--Modal de borrado-->

<div 
data-bs-toggle="modal" data-bs-target="#deleteModalLabel"
class="modal fade" 
id="deleteSkillsModal"
 tabindex= "-1" 
 role="dialog" 
 aria-labelledby="deleteModalLabel" 
 aria-hidden="true"
>

    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="deleteModelLabel"> Borrar Skills </h5> 
    <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close"
    >
    <span aria-hidden="true">&times;</span>
    </button>
    </div>

<div class="modal-body">
<p class="pPie">
Seguro que desea eliminar? 
{{borrarSkills?.titulo_Skills}}?
</p>

    <div class="modal-footer">
       <button
       type="button"
       class="btn btn-secondary"
       data-dismiss="modal"
       >

       No
       </button>
       
       <button
       (click)= "onDeleteSkills(borrarSkills!.id_Skills)"
       class="btn btn-danger"
       data-dismiss="modal"
       >

       si
       </button>
      
    </div>
    </div>
    </div>
    </div>
    </div>       

    <!----------------------------------------------------------------------------------->

    <!--spinner interceptor-->

    <div *ngIf= "loaderService.isLoading | async" class="uploader-status">
        <mat-spinner style="margin:0 auto;" 
        mode="indeterminate"></mat-spinner>
      

 
  
    <div *ngIf ="!isLoading && skills?.length == 0" class="col-sm-12 col-md-12 offset-lg-4 col-lg-4 offset-lg-4">
    
        <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">No se encuentra skills🤷‍♀️</h4>
        <p>Skills no encontradas</p>
    </div>
    </div>


  
</div>

</div> 


<!--<button type="button" (click)="goBack()">Volver</button>-->
    


