<div class="row">

    <div class="container">

<div class="logo">
<a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><img src="../../../assets/logoargprograma.png" alt="" id="logo"></a>

</div>


<div class="redes">
<a href="https://github.com/EstebanDaniel"><img src="../../../assets/github.png" alt=""></a>
<a href="https://www.linkedin.com/in/esteban-daniel-cardozo-7b8060239/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BjVAypJy4TiO1Cw7zbJKMoQ%3D%3D"><img src="../../../assets/linkedin2.png" alt=""></a>
<a href="https://www.facebook.com/estebandaniel.cardozo.58"><img src="../../../assets/facebook.png" alt=""></a>
<a href="https://www.instagram.com/estebandaniel.cardozo/"><img src="../../../assets/instagram.png" alt=""></a>


<button type="button" class="btn btn-outline-light">Log out</button>





</div>

</div>


</div>


