

div{
  

    text-align: center
}


.lapiz{
color: #fff !important;
  
}


h1,h2,h3,h4,h5 {
color: #fff;
text-align: center;

}

i{

  color: #3c763d;
}

h1,h2,h5{
  text-decoration: underline;
}


 p {
    font-size:1.1rem;
    color: #fff;
    
}


/*@media (min-width: 768px) {*/
#foto {
  /*  position: absolute;*/
    
    width: 100%;
   border-radius: 10%;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
    left: 3%;
    top: 3%;
    align-items: center;
}
  

  @media (max-width: 768px) {
    #foto {
      
        width: 200px;
        height: 300px;
        padding-right: 0px;
    }


      }

  

