/* You can add global styles to this file, and also import other style files */

body {
    
    background: #051937;
    
    
}

.row {
  padding-right: 0px;
  margin-right: 0px;

}

.caja{

    border-radius: 30px;
    background-image: linear-gradient(to right top, #051937, #004166, #006d8c, #009ba2, #00c9a7);
    
  }

  h1,h2,h3{
    text-shadow:  #051937 0.1em 0.1em 0.2em;
  }

  .nombreAp{

    text-shadow:  #051937 0.1em 0.1em 0.2em;
 }

  
  img:hover{ 
    
    -webkit-transform:scale(0.95);
-moz-transform:scale(0.95);
-ms-transform:scale(0.95);
-o-transform:scale(0.95);
transform:scale(0.95);
transition: .2s;
}

.mat-progress-spinner circle, .mat-spinner circle { stroke: #00C9A7; }

  

/*estilo modales*/

   .progressbar{

    background-color: rgb(255, 255, 255)
}

.modal-header{

    background:  #051937

}


.modal-title {

    color: #fff
}

.form-group {

background: #fff

}

.modal-body {
   
   background-image: linear-gradient(to right top, #051937, #004166, #006d8c, #009ba2, #00c9a7);
}

.form-control{

    background: rgb(198, 194, 194)
}

.modal-footer {

    background-image: linear-gradient(to right top, #051937, #004166, #006d8c, #009ba2, #00c9a7);
}

.pPie{
    color: #fff;
}

.modal-dialog {

    background: none
}
/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
